.navbar-container
    padding: 1rem 0
    border-bottom: 1px solid #8400ec
    .navbar
        width: 70vw
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
        .nav-logo
            height: 35px
            width: 35px
            background: #8400ec
        .nav-brand
            font-size: 1.5rem
            font-weight: 900
            color: #8400ec

.home-container
    width: 70vw
    margin: 0 auto
    padding: 4rem 0
    .home
        display: flex
        align-items: center
        justify-content: space-between
        .home-left
            display: flex
            flex-direction: column
            gap: 4rem
            .home-title
                display: flex
                align-items: center
                gap: 1rem
                .title-left
                    display: flex
                    flex-direction: column
                    justify-content: end
                    .title-left-top
                        font-weight: 700
                        font-size: 2rem
                    .title-left-bottom
                        line-height: 1
                        font-weight: 900
                        font-size: 4rem
                .title-right
                    .title-right-top
                        font-weight: 900
                        font-size: 5rem
                        transition: all 0.3s ease-in-out
                        &:hover
                            transform: scale(1.1)
                    .title-right-bottom
                        font-weight: 700
                        font-size: 2rem
            .home-btn
                display: flex
                align-items: center
                justify-content: center
                gap: 1rem
                border: 1px solid #8400ec
                border-radius: 10px
                padding: 0.8rem 0
                font-size: 1.5rem
                font-weight: 700
                color: #8400ec
                transition: all 0.3s ease-in-out
                cursor: pointer
                &:hover
                    background: #8400ec
                    color: #1b1b1b
                svg
                    transform: rotate(180deg)
                    fill:#8400ec

        .home-right
            height: 50rem
            width: 50rem
            background: url(../assets/mine.jpeg)
            background-size: cover
            border-radius: 50%

.about-container
    width: 70vw
    height: 100vh
    margin: 0 auto
    padding: 1rem 0
    .about
        display: flex
        flex-direction: column
        gap: 4rem
        .about-nav
            padding: 1rem 4rem
            border: 1px solid #8400ec
            border-radius: 10px
            font-size: 2rem
            font-weight: 700
            color: #8400ec
        .about-cards-container
            .about-cards
                display: flex
                align-items: center
                justify-content: space-between
                .about-card
                    background: #8400ec
                    width: 320px
                    height: 350px
                    border-radius: 10px
                    padding: 1rem
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    .about-card-top
                        height: 280px
                        display: flex
                        flex-direction: column
                        // align-items: center
                        justify-content: end
                        .about-card-text
                            font-weight: 700
                            font-size: 1.5rem
                        .about-card-title
                            font-weight: 900
                            font-size: 2.5rem
                        .about-card-sub
                            font-weight: 500
                            font-size: 1.2rem
                    .about-card-bottom
                        a
                            text-decoration: none
                            color: #fff
                            &:hover
                                text-decoration: underline

.know-container
    width: 70vw
    height: 100vh
    margin: 0 auto
    padding: 1rem 0
    .know
        display: flex
        flex-direction: column
        gap: 4rem
        .know-nav
            padding: 1rem 4rem
            border: 1px solid #8400ec
            border-radius: 10px
            font-size: 2rem
            font-weight: 700
            color: #8400ec
        .know-tags-container
            .know-tags
                display: flex
                gap: 1rem
                flex-wrap: wrap
                .tag
                    padding: 0.2rem 1.5rem
                    // border: 1px solid #8400ec
                    background: #8400ec
                    border-radius: 50px

.use-container
    width: 70vw
    height: 100vh
    margin: 0 auto
    padding: 1rem 0
    .use
        .use-nav
            padding: 1rem 4rem
            border: 1px solid #8400ec
            border-radius: 10px
            font-size: 2rem
            font-weight: 700
            color: #8400ec
        .use-box-container


.build-container
    width: 70vw
    margin: 0 auto
    padding: 1rem 0
    .build

.footer-container
    width: 70vw
    margin: 0 auto
    padding: 1rem 0
    .footer

