.navbar-container {
  padding: 1rem 0;
  -webkit-box-shadow: rgba(92, 10, 223, 0.199) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(92, 10, 223, 0.199) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navbar-container .navbar {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-container .navbar .nav-logo {
  height: 35px;
  width: 35px;
  background: #8400ec;
}

.navbar-container .navbar .nav-brand {
  font-size: 1.5rem;
  font-weight: 900;
  color: #8400ec;
}

.home-container {
  width: 70vw;
  margin: 0 auto;
  padding: 4rem 0;
}

.home-container .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-container .home .home-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.home-container .home .home-left .home-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.home-container .home .home-left .home-title .title-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.home-container .home .home-left .home-title .title-left .title-left-top {
  font-weight: 700;
  font-size: 2rem;
}

.home-container .home .home-left .home-title .title-left .title-left-bottom {
  line-height: 1;
  font-weight: 900;
  font-size: 4rem;
}

.home-container .home .home-left .home-title .title-right .title-right-top {
  font-weight: 900;
  font-size: 5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-container .home .home-left .home-title .title-right .title-right-bottom {
  font-weight: 700;
  font-size: 2rem;
}

.home-container .home .home-left .home-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  border-radius: 10px;
  padding: 0.8rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: #8400ec;
}

.home-container .home .home-left .home-btn:hover {
  -webkit-box-shadow: #880fb8 0px 20px 30px -10px;
          box-shadow: #880fb8 0px 20px 30px -10px;
}

.home-container .home .home-left .home-btn svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home-container .home .home-right {
  height: 50rem;
  width: 50rem;
  background: url(../assets/mine.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -webkit-box-shadow: rgba(93, 0, 214, 0.25) 0px 25px 50px -12px;
          box-shadow: rgba(93, 0, 214, 0.25) 0px 25px 50px -12px;
}

.about-container {
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem 0;
}

.about-container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.about-container .about .about-nav {
  padding: 0 1rem;
  border-left: 2px solid #8400ec;
  font-size: 2rem;
  font-weight: 700;
  color: #8400ec;
  -webkit-box-shadow: rgba(92, 10, 223, 0.137) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(92, 10, 223, 0.137) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.about-container .about .about-cards-container .about-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-container .about .about-cards-container .about-cards .about-card {
  background: #1b1b1b;
  background: linear-gradient(45deg, #1b1b1b 0%, rgba(181, 130, 196, 0.398197) 45%, #8400ec 100%);
  width: 350px;
  height: 400px;
  border-radius: 10px;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about-container .about .about-cards-container .about-cards .about-card:hover {
  -webkit-box-shadow: rgba(152, 88, 255, 0.25) 0px 30px 60px -12px, rgba(71, 0, 153, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(152, 88, 255, 0.25) 0px 30px 60px -12px, rgba(71, 0, 153, 0.3) 0px 18px 36px -18px;
}

.about-container .about .about-cards-container .about-cards .about-card .about-card-top {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.about-container .about .about-cards-container .about-cards .about-card .about-card-top .about-card-text {
  font-weight: 700;
  font-size: 1.5rem;
}

.about-container .about .about-cards-container .about-cards .about-card .about-card-top .about-card-title {
  font-weight: 900;
  font-size: 2.5rem;
}

.about-container .about .about-cards-container .about-cards .about-card .about-card-top .about-card-sub {
  font-weight: 500;
  font-size: 1.2rem;
}

.about-container .about .about-cards-container .about-cards .about-card .about-card-bottom a {
  text-decoration: none;
  color: #8400ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.about-container .about .about-cards-container .about-cards .about-card .about-card-bottom a:hover {
  text-decoration: underline;
}

.know-container {
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem 0;
}

.know-container .know {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.know-container .know .know-nav {
  padding: 0 1rem;
  border-left: 2px solid #8400ec;
  -webkit-box-shadow: rgba(92, 10, 223, 0.137) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(92, 10, 223, 0.137) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-size: 2rem;
  font-weight: 700;
  color: #8400ec;
}

.know-container .know .know-tags-container .know-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.know-container .know .know-tags-container .know-tags .tag {
  padding: 0.2rem 1.5rem;
  background: #8400ec;
  border-radius: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: context-menu;
}

.know-container .know .know-tags-container .know-tags .tag:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.build-container {
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
  padding: 1rem 0;
}

.build-container .build {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.build-container .build .build-nav {
  padding: 0 1rem;
  border-left: 2px solid #8400ec;
  -webkit-box-shadow: rgba(92, 10, 223, 0.137) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(92, 10, 223, 0.137) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-size: 2rem;
  font-weight: 700;
  color: #8400ec;
}

.build-container .build .build-cards-container .build-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.build-container .build .build-cards-container .build-cards .build-card {
  width: 380px;
  border-radius: 10px;
  background: #1b1b1b;
  background: linear-gradient(45deg, #1b1b1b 0%, rgba(181, 130, 196, 0.398197) 45%, #8400ec 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.build-container .build .build-cards-container .build-cards .build-card .build-card-top {
  height: 220px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.build-container .build .build-cards-container .build-cards .build-card .img1 {
  background: url(../assets/diary-io.png);
  background-size: cover;
  background-position: center;
}

.build-container .build .build-cards-container .build-cards .build-card .build-card-bottom {
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

.build-container .build .build-cards-container .build-cards .build-card .build-card-bottom .build-card-title {
  font-weight: 500;
  font-size: 2rem;
}

.build-container .build .build-cards-container .build-cards .build-card .build-card-bottom .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.build-container .build .build-cards-container .build-cards .build-card .build-card-bottom .links-container .link-text {
  color: #8d8d8d;
}

.build-container .build .build-cards-container .build-cards .build-card .build-card-bottom .links-container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.build-container .build .build-cards-container .build-cards .build-card .build-card-bottom .links-container .links a {
  text-decoration: none;
}

.build-container .build .build-cards-container .build-cards .build-card .build-card-bottom .links-container .links a svg {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.build-container .build .build-cards-container .build-cards .build-card .build-card-bottom .links-container .links a svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.build-container .build .build-cards-container .build-cards .build-card:hover {
  -webkit-box-shadow: rgba(152, 88, 255, 0.25) 0px 30px 60px -12px, rgba(71, 0, 153, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(152, 88, 255, 0.25) 0px 30px 60px -12px, rgba(71, 0, 153, 0.3) 0px 18px 36px -18px;
}

.footer-container {
  height: 100vh;
  width: 70vw;
  margin: 0 auto;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container .footer {
  background: #1b1b1b;
  background: linear-gradient(45deg, #1b1b1b 0%, rgba(181, 130, 196, 0.398197) 45%, #8400ec 100%);
  width: 100%;
  border-radius: 10px;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.footer-container .footer .footer-nav {
  font-size: 2rem;
  font-weight: 700;
}

.footer-container .footer .contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-size: 3rem;
  border-bottom: 1px solid #fff;
  padding: 0.2rem 3rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.footer-container .footer .contact a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-bottom: 1px solid #8400ec;
}

.footer-container .footer .socials .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.footer-container .footer .socials .social a {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.footer-container .footer .socials .social a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=App.css.map */